<!DOCTYPE html>
<html>
    <script>

    </script>
    <head th:include="../fragments/template :: head(~{::title})">
    	<title>Home page</title>
		<link rel="stylesheet" href="../../resources/style.css" >
		<link href="../../resources/script.js" rel="stylesheet" type="text/javascript">
		<link href="../../resources/ibulid.scss" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div th:replace="../fragments/topnav.html :: fragment-nav"></div>
		<section>
            <div style="text-align: center; margin-top:1.5%; margin-bottom: 1.5%;">
        	    <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6 card_area">
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.1.1" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_1.png?raw=true"/>
                    </a>
					<a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.1.2" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_2.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.1.3" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_3.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.1" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_4.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.2" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_5.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.3" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_6.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.4" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_7.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.5" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_8.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.6" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_9.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.7" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_10.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.8" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_11.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.9" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_12.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.10" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_13.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.11" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_14.png?raw=true"/>
                    </a>
                    <a data-fancybox="gallery" href="https://namu.wiki/w/%EC%9B%90%EC%8B%A0/%EC%84%B1%EC%9C%A0%EB%AC%BC#s-4.2.12" class="items_char">
                        <img class="items_wrap1" src="https://github.com/SearchShin/test/blob/master/demo/src/main/webapp/resources/image/artifacts/artifacts_15.png?raw=true"/>
                    </a>

			  </div>
		</section>
		<div th:replace="../fragments/template :: footer"></div>
		<menu>
			<div class="logo"><a href=""><span class="ion-camera"></span></a></div>
			<span id="close-menu"><span class="ion-close-round"></span></span>
		
		  </menu>
	</body>
</html>