<!DOCTYPE html>
<html>
    <head th:include="../fragments/template :: head(~{::title})">
    	<title>Home page</title>
		<link rel="stylesheet" href="../../resources/style.css" >
		<link href="../../resources/script.js" rel="stylesheet" type="text/javascript">
		<link href="../../resources/ibulid.scss" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div th:replace="../fragments/topnav.html :: fragment-nav"></div>
		<section>
			<h1 class="mt-12 mb-8 px-6 text-center text-lg md:text-2xl font-semibold">
				Customize caption
			  </h1>
			  
			  <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6 card_area">
				<a
				  data-fancybox="gallery"
				  href="https://namu.wiki/w/%EB%B0%A9%EB%9E%91%EC%9E%90(%EC%9B%90%EC%8B%A0)"
				  data-caption="First image"
				>
				  <img class="attr_4"
				  style="border: 3px solid gold;
				  border-radius: 7px;
				  -moz-border-radius: 7px;
				  -khtml-border-radius: 7px;
				  -webkit-border-radius: 7px;
				  "
				  src="https://static.inven.co.kr/image_2011/site_image/genshin/chara/icon_58.png?v=220216a"/>
				</a>
				<a
				  data-fancybox="gallery"
				  href="https://lipsum.app/id/61/1600x1200"
				  data-caption="Second image"
				>
				  <img src="https://lipsum.app/id/61/200x150" />
				</a>
				<a
				  data-fancybox="gallery"
				  href="https://lipsum.app/id/62/1600x1200"
				  data-caption="Third image"
				>
				  <img src="https://lipsum.app/id/62/200x150" />
				</a>
				<a data-fancybox="gallery" href="https://lipsum.app/id/63/1600x1200">
				  <img src="https://lipsum.app/id/63/200x150" />
				</a>
				<a data-fancybox="gallery" href="https://lipsum.app/id/64/1600x1200">
				  <img src="https://lipsum.app/id/64/200x150" />
				</a>
				<a data-fancybox="gallery" href="https://lipsum.app/id/65/1600x1200">
				  <img class="rounded" src="https://lipsum.app/id/65/200x150" />
				</a>
				<a data-fancybox="gallery" href="https://lipsum.app/id/66/1600x1200">
				  <img class="rounded" src="https://lipsum.app/id/66/200x150" />
				</a>
			  </div>
		</section>
		<div th:replace="../fragments/template :: footer"></div>
		<menu>
			<div class="logo"><a href=""><span class="ion-camera"></span></a></div>
			<span id="close-menu"><span class="ion-close-round"></span></span>
		
		  </menu>
	</body>
</html>