<!DOCTYPE html>
<html>
	<head th:fragment="head(title)">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>LOGIN</title>
    	<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/resources/style.css}"/>
	</head>
	<body>
		<div class="container"  th:style="${'padding-top: 50px; text-align: center'}">
			<div class="col-lg-4" style="display: inline-block; max-width: 95%">
					<form method="post" action= "/demo/signinCheck">
						<h3 style="text-align: center;color: white;margin-bottom: 15px">login page</h3>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="ID" name="uid" maxlength="20">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="password" name="upw" maxlength="20">
						</div>
						<input type='submit' class='btn btn-primary btn-block' value='Login'>
					</form>
			</div>
		</div>
        <div th:fragment="footer">
            <script type="text/javascript" th:src="@{/resources/bootstrap.min.js}" ></script>
            <script type="text/javascript" th:src="@{/resources/project.js}"></script>
        </div>
	</body>
</html>