menu {
    background: #FFF;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: -320px;
    top: 0;
    width: 320px;
    z-index: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  menu .container {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 258px;
    -webkit-transform-origin: 0% 50% 0px;
    -moz-transform-origin: 0% 50% 0px;
    transform-origin: 0% 50% 0px;
    -webkit-transform: matrix(0.8, 0, 0, 0.9, 40, 0);
    -moz-transform: matrix(0.8, 0, 0, 0.9, 40, 0);
    transform: matrix(0.8, 0, 0, 0.9, 40, 0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  menu .container .box {
    border-top: 3px solid;
    height: calc(100% - 33px);
    overflow: visible;
    overflow-Y: scroll;
    padding: 0 17px 30px 0;
    position: relative;
    width: 275px;
  }
  
  menu .box ul:nth-child(1) {
    border-bottom: 3px solid;
  }
  
  menu .box ul {
    padding: 10px 0;
  }
  
  menu ul li {
    border-bottom: 1px solid #EDEDED;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 39px;
    letter-spacing: 0.12em;
    line-height: 39px;
    text-transform: uppercase;
  }
  
  menu ul:nth-child(2) li {
    font-size: 10px;
  }
  
  menu ul:nth-child(2) li:last-child {
    border-bottom: 1px solid #EDEDED;
  }
  
  menu ul:nth-child(3) li {
    border: 0;
    display: inline-block;
  }
  
  menu ul:nth-child(3) li > a {
    border: 1px solid;
    border-radius: 100%;
    color: #898989;
    display: block;
    font-size: 22px;
    height: 24px;
    line-height: 24px;
    margin: 2px 4px;
    padding: 5px;
    text-align: center;
    width: 24px;
  }
  
  menu ul li:last-child {
    border: 0;
  }
  
  html.active menu {
    right: 0;
    z-index: 999;
  }
  
  html.active menu .container {
    -webkit-transform-origin: 0% 50% 0px;
    -moz-transform-origin: 0% 50% 0px;
    transform-origin: 0% 50% 0px;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  
  #menu {
    cursor: pointer;
    display: block;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    margin: 10px 20px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    
  }

.navleft{ 
  width:200px; 
  background-color:#eee; 
  border-right:1px solid #ddd;
  /* height:100% 그냥 적용 안됨. 부모개념이 있어야 채워질 수 있음 */

  position:fixed; /*공중에 떠서 공간을 차지하지 않음*/
  height:100% /*fixed를 해서 높이 100%가 가능해짐*/
}
h1{ font-size:18px;  padding:20px; }
.menu {}
.menu li {}

/*메뉴*/
.menu li a {
  height:30px;
  line-height:30px;
  display:block;
  padding:0 20px;
  font-size:12px;
  color:#555;
}
.menu li a:hover { background-color:yellowgreen; color:white;}

a[data-fancybox] img {

  cursor: zoom-in;
}

.fancybox__caption {
  text-align: center;
}


/*
1.불
2.물
3.번개
4.바람
5.얼음
6.바위
7.풀
8.주인공
*/
.attr_1 {background: #a2594e;}
.attr_2 {background: #5187ca;}
.attr_3 {background: #865eab;}
.attr_4 {background: #71a599;}
.attr_5 {background: #98bcce;}
.attr_6 {background: #d6b863;}
.attr_7 {background: #83ab6a;}
.attr_8 {background: #d4ccbc;}

.items_char{
  float:left;

}
.items_wrap5{
  border: 3px solid gold;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  -webkit-border-radius: 7px;
	width:106px;
  height:106px;
}

.items_wrap4{
  border: 3px solid purple;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  -webkit-border-radius: 7px;
	width:106px;
  height:106px;
}

.db_card .card_img img {border-radius: 5px;border: 1px solid #b2b2b2;width: 106px;height: 106px;}
.db_card .card_info { padding: 5px 0px 10px 0px;}
.db_card .card_info p.content-list-0 { font-weight: bold; font-size: 16px;}

button{
  background-color: transparent;
  border: none;
}